player-connection-mode=Listen
player-connection-guid=3144182384
player-connection-debug=0
player-connection-project-name=cifcor test task
player-connection-ip=192.168.0.11
player-connection-ip=172.30.176.1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=34038da990734315917cc79669ec0429
